body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FFE673;
	min-width: 320px;
}

.memory_board {
	padding: 30px 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 40px 40px;
	justify-items: center;
	background-color: #FFE673;
}

.memory_card {
	position: relative;
	width: 95%;
	height: 120px;
	-webkit-tap-highlight-color: transparent;
}

.memory_card:hover {
	transition: 0.5s;
	transform: scale(1.05);
}

.memory_card.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.memory_card.flip .front {
	z-index: 900;
	border-color: #eee;
	background: #333;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	-webkit-transform: rotateY(179deg);
	transform: rotateY(179deg);
}

.inactive {
	pointer-events: none;
}

.back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 15px;
	font-style: normal;
	font-size: 40px;
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.failed {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.success {
	animation-name: pulse;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(0.85);
	}
	to {
		transform: scale(1);
	}
}

.memory-game_button {
	#padding: 2em 4.1em 2.1em;
	border-radius: 15px;
	margin: 8px 8px 8px 8px;
	color: white;
	border-style: none;
	display: inline-block;
	background: #FFE673;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	position: relative;
	-webkit-tap-highlight-color: transparent;
}

.memory-game_button::-moz-focus-inner {
	border: 0;
}

.button_wrapper {
	text-align: center;
}

.memory-game_button:hover {
	#background-color: #583779;
	transition: 0.5s;
	font-size: 3.5em;
}

.memory-game_button:focus {
	/*outline: 0;*/
}

@media (max-width: 1280px) {
	.memory_board {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 30px 30px;
	}
}

@media (max-width: 860px) {
	.memory_board {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 30px;
	}

	.memory_card {
		height: 70px;
	}

	.back {
		font-size: 30px;
	}

	.memory-game_button {
		padding: 1em 1.1em 1.1em;
	}
}

@media (max-width: 460px) {
	.memory_board {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 10px;
	}

	.memory_card {
		height: 80px;
	}

	.back {
		font-size: 25px;
	}

	.memory-game_button {
		/*padding: 1em 1.1em 1.1em;*/
	}
}

@media (max-width: 320px) {
	.memory_board {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 10px;
	}

	.memory_card {
		height: 50px;
	}

	.back {
		font-size: 25px;
	}

	.memory-game_button {
		/*padding: 1em 1.1em 1.1em;*/
	}
}
